<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=TU_URL_DE_REDIRECCION">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Prohibido</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Acceso Prohibido</h1>
        <p>Lo sentimos, no tienes permisos para acceder a esta página.</p>
        <p>Serás redirigido en 5 segundos. Si no eres redirigido, haz clic <a href="http://localhost:8000/es/">aquí</a>.</p>
    </div>
</body>
</html>