{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'home_autenticar_usuario' %}">
      {% csrf_token %}
      
      {% if error%}{{error}}{% endif %}

      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
{% endblock content %}