<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Exitoso</title>
</head>
<body>
  <div style="text-align: center; padding: 50px;">
    <h2>¡Registro Exitoso!</h2>
    <p>Te has registrado con éxito. Serás redirigido en unos segundos...</p>

    <!-- Redireccionar automáticamente después de 5 segundos -->
    <script>
      setTimeout(function() {
        window.location.href = "http://localhost:8000/es/home_lgn/";
      }, 5000);
    </script>
  </div>
</body>
</html>
