{% extends "secretarias_page.html" %}
{% load cms_tags %}

{% block title %}Administrar Taxista{% endblock title %}

{% block content %}
    <div class="admin-taxista">
        <h2>Detalles y opciones de administración</h2>

        <p>Nombre: {{ taxista.nombre }}</p>
        <p>Apellido Paterno: {{ taxista.apellido_p }}</p>
        <p>Apellido Materno: {{ taxista.apellido_m }}</p>
        <!-- Agrega más detalles según tus necesidades -->

        <h3>Acciones:</h3>
        <ul>
            <li><a href="{% url 'scr_editar_taxista' id_taxista=taxista.id %}">Editar</a></li>
            
            <!-- Agrega más acciones según tus necesidades -->
        </ul>
    </div>
{% endblock content %}
