<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5;http://localhost:8000/es/Usrs/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehiculo Registrado Exitosamente</title>
    <!-- Agrega cualquier enlace a hojas de estilo, scripts o metaetiquetas adicionales según tus necesidades -->
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Vehiculo Registrado Exitosamente</h1>

        <p>Gracias por ingresar el nuevo Vehiculo. Hemos recibido la información correctamente y la estamos procesando.</p>
        <p>Serás redirigido en 5 segundos. Si no eres redirigido, haz clic <a href="http://localhost:8000/es/scr_bveh/">aquí</a>.</p>
    </div>
    

    <!-- Puedes agregar más información o instrucciones según tus necesidades -->

</body>
</html>