{% extends "secretarias_page.html" %}
{% load cms_tags %}

{% block title %}Lista de Taxistas{% endblock title %}

{% block content %}
    <div class="taxistas-lista">
        <h2>Lista de rutas ingresadas.</h2>

        <form method="get" action="{% url 'scr_buscar_rutas' %}">
            {{ form.busqueda }}
            <button type="submit">Buscar</button>
        </form>

        {% if rutas %}
            <ul>
                {% for ruta in rutas %}
                    <li>{{ ruta.id }} {{ ruta.conductor }} {{ ruta.tipo_tarifa.monto_tarifa }}
                        <a href = "">Administrar</a>
                    </li>
                    <!-- Agrega más detalles o acciones según tus necesidades -->
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay rutas registradas.</p>
        {% endif %}
    </div>
{% endblock content %}