<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje de Éxito</title>
    <!-- Agrega aquí tus estilos adicionales si es necesario -->
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h2 style="color: green;">¡Éxito!</h2>
        <p>Su solicitud de reserva se envio con exito, estaremos en contacto con usted en breve.</p>
        <!-- Puedes personalizar el mensaje según tus necesidades -->

        <!-- Enlace opcional para regresar a la página principal u otra página -->
        <p><a href="http://localhost:8000/es/Usrs/">Volver a la página principal</a></p>
    </div>
    <!-- Agrega aquí tus scripts adicionales si es necesario -->
</body>
</html>
