{% extends "user_page.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'usr_busqueda_reserva' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.region.id_for_label }}">Region de origen:</label>
            {{ form.region }}
        </div>
        <br>

        <div class="form-group">
            <label for="{{ form.ciudad.id_for_label }}" hidden="true">Ciudad de origen:</label>
            {{ form.ciudad }}
        </div>

        <div class="form-group">
            <label for="{{ form.comuna.id_for_label }}" hidden="true">Comuna de origen:</label>
            {{ form.ciudad }}
        </div>

        <div class="form-group">
            <label for="{{ form.region_destino.id_for_label }}">Region de destino:</label>
            {{ form.region_destino }}
        </div>
        <br>

        <div class="form-group">
            <label for="{{ form.ciudad_destino.id_for_label }}" hidden="true">Ciudad de destino:</label>
            {{ form.ciudad_destino }}
        </div>

        <div class="form-group">
            <label for="{{ form.comuna_destino.id_for_label }}" hidden="true">Comuna de destino:</label>
            {{ form.ciudad_destino }}
        </div>

        <div class="form-group">
            <label for="{{ form.fecha_viaje.id_for_label }}">Fecha del viaje:</label>
            {{ form.fecha_viaje }}
        </div>
        
        {% if rutas %}

        <label>Información de las rutas:</label>
        <hr>

            {% for ruta in rutas %}

                <p>Ruta: {{ ruta.id }}</p>

                <p>{{ ruta.region }} - {{ ruta.region_destino }}</p>

                {% if ruta.ciudad is not None and ruta.ciudad_destino is not None %}
                    <p>{{ ruta.ciudad }} - {{ruta.ciudad_destino}}</p>
                {% endif %}

                {% if ruta.comuna is not None and ruta.comuna_destino is not None %}
                    <p>{{ ruta.comuna }} - {{ruta.comuna_destino}}</p>
                {% endif %}

                <p>Precio total: {{ ruta.monto_tarifa }} CLP</p>

                <p>Fecha del viaje: {{ ruta.fecha_viaje }} {{ ruta.hora_viaje }}<p>

                

                <hr>
            
            {% endfor %}
        {% elif rutas.fecha_viaje is None %}
                    <p>No hay rutas para la fecha especificada<p>
        {% endif %}
        
        <button type="submit">Buscar rutas</button>
    </form>
{% endblock content %}
